<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource
        name="jdbc/oracle" 
        type="javax.sql.DataSource" 
        url="jdbc:h2:./data" 
        driverClassName="org.h2.Driver" 
        username="sa" 
        password=""
    />
    <!--
    maxActive="100" 
    maxIdle="20"/>
    -->
</Context>